<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Categories" ng-cloak ng-init="init()" class="aio-empty-screen padding overflow-scroll">
    <button class="button button-dark button-icon button-inline button-clear icon ion-ios-arrow-back"
    ng-click="clickBack()">
    </button>
    <div class="button-bar">
    </div>
    <div>
        <div class="row">
            <div class="col col-center">
                <button class="kip category button button-balanced button-block">
                    FOOD
                </button>
            </div>
            <div class="col">
                <button class="kip category button button-royal button-block" ng-click="clickEducation()">
                    EDUCATION
                </button>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col">
                <button class="kip category button button-positive button-block">
                    HOUSING
                </button>
            </div>
            <div class="col">
                <button class="kip category button button-energized button-block">
                    HEALTHCARE
                </button>
            </div>
        </div>
    </div>
    <div>
        <br>
    </div>
    <button class="kip button button-dark button-icon button-block button-outline icon ion-android-notifications"
    ng-click="clickSettings()">
    </button>
</div>