<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Tutorpage" ng-cloak ng-init="init()" class="aio-empty-screen padding overflow-scroll">
    <button class="button button-icon button-inline icon ion-ios-arrow-back">
    </button>
    <button class="kip header button button-positive button-block">
        Tutoring Oppurtunities
    </button>
    <div class="button-bar">
        <button class="button kip tutorpage_details button-block" ng-click="clickAlgebra()">
            Algebra I
        </button>
        <button class="button kip tutorpage_details button-block" ng-click="clickAlgebra()">
            Sep 22
        </button>
        <button class="button kip tutorpage_details button-block" ng-click="clickAlgebra()">
            Glen Park Library
        </button>
    </div>
    <div class="button-bar">
        <button class="button kip tutorpage_details button-block">
            US History
        </button>
        <button class="button kip tutorpage_details button-block">
            Sep 24
        </button>
        <button class="button kip tutorpage_details button-block">
            Soma Library
        </button>
    </div>
    <div class="button-bar">
        <button class="button kip tutorpage_details button-block">
            Algebra II
        </button>
        <button class="button kip tutorpage_details button-block">
            Sep 26
        </button>
        <button class="button kip tutorpage_details button-block">
            Castro Library
        </button>
    </div>
    <div class="button-bar">
        <button class="button kip tutorpage_details button-block">
            Geometry
        </button>
        <button class="button kip tutorpage_details button-block">
            Sep 25
        </button>
        <button class="button kip tutorpage_details button-block">
            Glen Park Library
        </button>
    </div>
    <div class="button-bar">
        <button class="button kip tutorpage_details button-block">
            Physics
        </button>
        <button class="button kip tutorpage_details button-block">
            Sep 24
        </button>
        <button class="button kip tutorpage_details button-block">
            Exelxior Library
        </button>
    </div>
    <div class="button-bar">
        <button class="button kip tutorpage_details button-block">
            Trigonometry
        </button>
        <button class="button kip tutorpage_details button-block">
            Sep 21
        </button>
        <button class="button kip tutorpage_details button-block">
            Mission Library
        </button>
    </div>
</div>